#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.login-box{
  background-color: rgb(46, 84, 137);
  padding: 2em;
}

input{
  margin-bottom: 20px;
}
button{
  margin: 1em;
  background-color: rgb(26, 42, 65);
}

.password-reset {
  color: #888;
  margin-top: 30px;
}