#root {
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}




/* Navigation Bar */ 
.navbar{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(46, 84, 137);
}
.navbar .navbar-left{
  justify-content: center;
  display: flex;
}
.navbar ul {
  justify-content: center;
  padding-left: 0;
  margin: 0px;
  list-style-type: none;
}
.navbar a {
  font-weight: 500;
  color: #ffffff;
}
.navbar a:hover {
  color: #7f84e7;
}




/* Landing Page */
.read-the-docs {
  color: #888;
  margin-top: 5px;
}




/* Login Page CSS */

.login-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 84, 137);
  padding: 2em;
  max-width: 300px;
}

input{
  margin-bottom: 20px;
}

.lbtn{
  margin: 1em;
}

.password-reset {
  color: #888;
  margin-top: 30px;
}
.form-btn{
  margin: 20px 20px 20px 20px;
}


/** Dropbox **/
.dropbox-text{
  color: rgb(146, 138, 138);
}